<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
    
		<div class="container">
    {{ content }}
		</div><!-- /.container -->
    
		<footer>
    		<ul>
        		<li><a href="mailto:theophile.sautory@gmail.com"> <span style='font-size:20px;'>&#128232;</span></a></li>
        		<li><a href="https://github.com/Theosau"><img src="../images/logos/
github_logo.png"></a></li>
			</ul>
		</footer>
	</body>
</html>
